$icon-font-path: '~bootstrap-sass/assets/fonts/bootstrap/';
@import '~bootstrap-sass/assets/stylesheets/bootstrap';

@media (max-width: 600px) {
  * {
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
 }
}

table {
  border: 1px solid #aaa;
  border-collapse: collapse;
  float: left;
  font-family: Arial, sans-serif;
  font-size: .9em;
  width: 100%;
}

td,
th {
  text-align: left;
  padding: 10px 5px;
  border: 1px solid #aaa;
  display: block;
  float: left;
  text-align: center;
  border: 0;
  border-bottom: 1px solid #aaa;
}
